tmp
*.png

#vi
*.sw[nop]
experiments
white_box_test
whitebox_test

#python
__pycache__/
*.py[cod]
*.egg-info
*.pyc
*.nfs*

# C extensions
*.so

#Aptana
.project
.pydevproject
.settings

#DIRECT
DIRresults.txt


# pycharm
.idea

#CMA
outcma*.dat

/EntropySearch
*~

*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.gz
*.toc
*.orig

/build*
