Cython
numpy==1.12.1
emcee>=2.1.0
scipy>=0.13.3
matplotlib>=1.3.1
cma
direct
pyrfr
git+https://github.com/automl/george.git
git+https://github.com/automl/HPOlib2.git
https://github.com/automl/pybnn.git
nose
